:root {
    --gold: #ffdd00;
    --darkblue: #103080;
    --skyblue: #2080ff;
    --black: #222;
    --dark: #444;
    --gray: #666;
    --light: #888;
    --bone: #aaa;
    --smoke: #ccc;
    --snow: #eee;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--dark);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --dblue1: rgb(0, 18, 33);
    --lblue1: rgb(0, 38, 70);
    --dblue2: rgb(0, 94, 171);
    --lblue2: rgb(27, 152, 255);
    --dgreen1: rgb(0, 29, 9);
    --lgreen1: rgb(6, 59, 23);
    --dgreen2: #02c061;
    --lgreen2: #08b66d;
    --dred1: rgb(40, 0, 0);
    --lred1: rgb(80, 0, 0);
    --dred2: rgb(146, 6, 6);
    --lred2: rgb(255, 40, 40);
    --lred3: rgb(255, 150, 150);
}

* {
    box-sizing: border-box;
}

html {
    background-color: #1a1a1a;
    background-repeat: no-repeat;
}

body {
    max-width: 45em;
    color: whitesmoke;
}

bod * {
    background: linear-gradient(to bottom right, rgb(74, 174, 255), rgb(255, 126, 231));
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-clip: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    /* -webkit-box-shadow: 0 0 0 1000px rgb(41, 41, 41) inset; */
    /* -webkit-background-clip: text !important; */
    -webkit-text-fill-color: whitesmoke;
    background-clip: text !important;

}

.f {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    display: flex;
    /* justify-content: end; */
    text-align: right;
    flex-wrap: wrap;
    gap: 5px 5px;
}

.f * {
    font-size: 1em;
}

.f .nlabel {
    white-space: nowrap;
}

#n, #ok, #reset, #auto {
    height: 1.2em;
    background-color: transparent;
    text-align: right;
    color: whitesmoke;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(81, 81, 81);
}

#n {
    width: 5em;
    flex: auto;
}

.f .btn-group {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 5px;
}

#kq {
    margin: -5px 0 1em;
}


#ok, #reset, #auto {
    /* border: 1px solid #666;
    box-shadow: 0 4px #666; */
    transition: all ease-in .4s;
}

#ok {
    background-color: var(--lblue1);
    border: 1px solid var(--dblue1);
    box-shadow: 0 4px var(--dblue1);
}

#ok:hover {
    border-color: var(--lblue2);
    box-shadow: 0 4px var(--lblue2);
}

#ok:active, #ok.active {
    background-color: var(--lblue2);
    border-color: var(--dblue2);
    box-shadow: 0 0;
    transform: translateY(2px);
    transition: all ease-in 0s;
}

#reset {
    background-color: var(--lgreen1);
    border: 1px solid var(--dgreen1);
    box-shadow: 0 4px var(--dgreen1);
}

#reset:hover {
    border-color: var(--dgreen2);
    box-shadow: 0 4px var(--dgreen2);
}

#reset:active, #reset.active {
    background-color: var(--dgreen2);
    border-color: var(--lgreen2);
    box-shadow: 0 0;
    transform: translateY(2px);
    transition: all ease-in 0s;
}

#auto {
    background-color: var(--lred1);
    border: 1px solid var(--dred1);
    box-shadow: 0 4px var(--dred1);
}

#auto:hover {
    border-color: var(--lred2);
    box-shadow: 0 4px var(--lred2);
}

#auto:active, #auto.active {
    background-color: var(--lred2);
    border-color: var(--dred2);
    box-shadow: 0 0;
}

#auto:active {
    transform: translateY(2px);
    transition: all ease-in 0s;
}

#auto.active:hover {
    border-color: var(--lred3);
    box-shadow: 0 4px var(--lred3);
}

#auto.active:active {
    box-shadow: 0 0;
}

#log {
    display: flex;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid rgb(81, 81, 81);
}

#log .case {
    flex: 1;
}

#log .result {
    flex: 2;
}

.split {
    width: 100%;
}

.clear {
    clear: both;
}


@media screen and (max-width: 600px) {
    .f .btn-group {
        width: 100%;
    }
}
